.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# dotenv environment variables file
.env

# Firebase Admin SDK Private Keys
homefornow-fd495-firebase-adminsdk-xy17w-62ee8ab849.json
homefornow-bb31e-firebase-adminsdk-7n626-a4e0f1c140.json